#wrap
  #table1.table 1
  #table2.table 2
  #table3.table 3
  #table4.table 4
  #table5.table 5
  .table.counter
  .table6.table 6
  .table.counter
  #start.table.counter 🔇

audio#callsound(src='sounds/doorbell.mp3')
script(src='/socket.io/socket.io.js')
script.
  const socket = io.connect('http://localhost:3000/mainview')
  var table1 = document.getElementById('table1')
  var callsound = document.getElementById('callsound')
  var start = document.getElementById('start')
  start.addEventListener('click', () => {
    start.innerHTML = '🔊'
    callsound.volume = 1
    callsound.currentTime = 0
    callsound.play()
  })
  const tableNum = {
    table1: '::ffff:172.30.1.33'
    table2: '::ffff:172.30.1.17'
    table3: '::ffff:172.30.1.70'
    table4: '::ffff:172.30.1.36'
  }
  socket.on('hallcalling', (data) => {
    console.log(data)
    if(data == tableNum.table1)
        table1.style.backgroundColor = 'red'
    if(data == tableNum.table2)
        table2.style.backgroundColor = 'red'
    if(data == tableNum.table3)
        table3.style.backgroundColor = 'red'
    if(data == tableNum.table4)
        table4.style.backgroundColor = 'red'
    callsound.volume = 1
    callsound.currentTime = 0
    callsound.play()
    setTimeout( () => {
      if(data == tableNum.table1)
        table1.style.backgroundColor = 'white'
      if(data == tableNum.table2)
        table2.style.backgroundColor = 'white'
      if(data == tableNum.table3)
        table3.style.backgroundColor = 'white'
      if(data == tableNum.table4)
        table4.style.backgroundColor = 'white'
      if(callsound.currentTime > 2.5)
        callsound.volume = 0
    }, 3000)
  })


style.
  body {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #wrap {
    width: 80%;
    height: 70%;
  }
  .table {
    float: left;
    width: 31%;
    height: 31%;
    border: 1px solid red;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px;
    font-size: 80px;
  }
  .table.counter {
    border-color: rgba(112, 0, 0, 0)
  }
